  {% extends 'alluser_template/base.html' %}
 {% load static %}
  {% block title %}
    Courses
  {% endblock title %}
  
  {% block coursesactive %}active{% endblock coursesactive %}
 
  {% block body %}
    



<!-- image header -->
<section class="course_banner">
 <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="ug_heading"> About Our Courses</h2>
    </div>
  </div>
</div>
</section>
<!-- end image header -->


<!-- course short details -->

<section class="ug_courses">
  <div class="container p-0">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="ug_heading">Our UG Courses</h2>
    </div>
  </div>
    <div class="row p-0 ug_row">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_bca.jpg' %}" width="100%" height="100%" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>BCA<small class="head_small">(Bachelore in Computer Application)</small></h2>
        
        <p>Bachelor of Computer Application (BCA) is an undergraduate degree course in computer applications.<br>
          Eligibility: A candidate seeking admission to this course should have passed Higher Secondary School Certificate Examination from Council of higher secondary education, Odisha or any other equivalent examination</p>
        <ul>
          <li>Available : <strong>30 Sheets</strong></li>
          <li>Total : <strong>6 Semester</strong></li>
          <li>Duration : <strong>3 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>
    <div class="row ug_row p-0">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_bscitm.jpg' %}" width="100%" height="auto" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>BSc ITM<small class="head_small">(Bachelore in Information Technology & Management)</small></h2>
        
        <p>B.Sc. ITM is the stepping stone for every young student who aspires for a successful career.<br>
          Eligibility: A candidate seeking admission to this course should have passed Higher Secondary School Certificate Examination from Council of higher secondary education, Odisha or any other equivalent examination</p>
        <ul>
          <li>Available : <strong>30 Sheets</strong></li>
          <li>Total : <strong>6 Semester</strong></li>
          <li>Duration : <strong>3 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>

    <div class="row ug_row p-0">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_bsccompt.jpg' %}" width="100%" height="auto" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>BSc Computer Sc.<small class="head_small">(Bachelore in Computer Science)</small></h2>
        
        <p>It is an undergraduate degree course usually of three years duration.<br>
          Eligibility: A candidate seeking admission to this course should have passed Higher Secondary School Certificate Examination from Council of higher secondary education, Odisha or any other equivalent examination</p>
        <ul>
          <li>Available : <strong>30 Sheets</strong></li>
          <li>Total : <strong>6 Semester</strong></li>
          <li>Duration : <strong>3 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>

    <div class="row ug_row p-0">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_bba.jpg' %}" width="100%" height="auto" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>BBA<small class="head_small">(Bachelore in Business Adminstrative)</small></h2>
        
        <p>It is an undergraduate degree course usually of three years duration.<br>
          Eligibility: A candidate seeking admission to this course should have passed Higher Secondary School Certificate Examination from Council of higher secondary education of  Odisha or any other equivalent examination</p>
        <ul>
          <li>Available : <strong>30 Sheets</strong></li>
          <li>Total : <strong>6 Semester</strong></li>
          <li>Duration : <strong>3 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>
  </div>
</section>

<section class="pg_courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pg_heading">Our PG Courses</h2>
    </div>
  </div>
    <div class="row pg_row p-0">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_msccompt.jpg' %}" width="100%" height="auto" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>MSc Computer Sc.<small class="head_small">(Master of Computer Science)</small></h2>
        <p>Msc Computer Sciene is an Postgraduate Master course in computer Science.<br>
          Eligibility: A candidate seeking admission to this course should have passed Degree  Certificate Examination from any University or Degree College of Odisha or any other equivalent examination</p>
        <ul>
        <li>Available : <strong>20 Sheets</strong></li>
          <li>Total : <strong>4 Semester</strong></li>
          <li>Duration : <strong>2 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>
    <div class="row pg_row p-0">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_mfc.jpg' %}" width="100%" height="auto" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>MFC<small class="head_small">(Master of Finance And Control)</small></h2>
        
        <p>MFC is the stepping stone for every young student who aspires for a successful career.<br>
          Eligibility: A candidate seeking admission to this course should have passed Degree  Certificate Examination from any University or Degree College of Odisha or any other equivalent examination</p>
        <ul>
          <li>Available : <strong>20 Sheets</strong></li>
          <li>Total : <strong>4 Semester</strong></li>
          <li>Duration : <strong>2 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>

    <div class="row pg_row p-0">
      <div class="col-lg-6 p-0">
        <img src="{%static 'dist/img/c_msw.jpg' %}" width="100%" height="auto" class="responsive">
      </div>

      <div class="col-lg-6">
        <h2>MSW<small class="head_small">(Master in Social Work)</small></h2>
        <p>It is an postgraduate degree course usually of two years duration , and is a requirement for those who aim to hold a clinical, supervisory, or program director role.<br>
          Eligibility: A candidate seeking admission to this course should have passed  Degree  Certificate Examination from any University or Degree College of Odisha or any other equivalent examination </p>
        <ul>
          <li>Available : <strong>20 Sheets</strong></li>
          <li>Total : <strong>4 Semester</strong></li>
          <li>Duration : <strong>2 years</strong> </li>
        </ul>
        <div class="btn_link"><a href="#" class="btn syll"> View Syllabus</a><a href="#" class="btn enrol ">Admission Now</a></div>
      </div>
    </div>

    
  </div>
</section>
<!-- end course short details -->
{% include 'alluser_template/footer.html' %}
  {% endblock body %}