<!-- start footer -->
<footer class="footer probootstrap-bg">
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="footer-widget">
              <h3>About Nabapravat</h3>
              <p>NABAPRAVAT values academic achievement through student , faculty and staff working diligently and co-operatively. Educational experience are provided that will empower of each student to succeed. <a href="#" class="text-primary">read more</a></p>
              <h3>Social</h3>
                  <ul class="footer-social">
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.facebook.com/nabapravatslpr/"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-github"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  </ul>
            </div>
        </div>
    <div class="col-lg-3 ml-3">
    <div class="footer-widget">
    <h3>Links</h3>
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Courses</a></li>
    <li><a href="#">Teachers</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="footer-widget">
    <h3>Contact Info</h3>
    <ul class="probootstrap-contact-info">
    <li><i class="fas fa-map-marker-alt"></i><span>Sunakhandi(Educational Area), close to Kashipur,Salipur,Odisha, pin-754202</span></li>
    <li><i class="fas fa-envelope"></i><span>contact@nabapravat.com</span></li>
    <li><i class="fas fa-phone-alt"></i><span>9861938110, 8118063088</span></li>
    </ul>
    </div>
    </div>
    </div>
    
    </div>
    <div class="probootstrap-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-9 text-left">
    <p>&copy; 2020 <a href="https://uicookies.com/">Nabapravt</a>. All Rights Reserved. Designed &amp; Developed with <i class="fas fa-heart text-danger"></i> by <a href="https://uicookies.com/" class="text-primary">nabapravat students(2016-19)</a></p>
    </div>
    <div class="col-md-3 probootstrap-back-to-top">
    <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a><input type="checkbox" id="check1" name="check1"></p>
    </div>
    </div>
    </div>
    </div>
    </footer>