

{% extends 'alluser_template/base.html' %}
{% load static %}
{% block title %}
Student Profile
{% endblock title %}
{% block student_profileactive %}active{% endblock student_profileactive %}

{% block body%}


<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-angle-double-right"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">Student pannel</a>
          <div id="close-sidebar">
            <i class="fas fa-angle-double-left"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            {% if request.user.profile_photo == '' %}
        <div class="name_profile_sidebar text-uppercase rounded-circle">
        {{request.user.first_name.0}}{{request.user.last_name.0}}
        </div>
        &nbsp;&nbsp;
       {% else %}
       <img src="{{request.user.profile_photo}}" class="rounded-circle border border-danger" width="40px" height="40px">
       {% endif %}
          </div>

          <div class="user-info">
            <span class="user-name">
              <strong>{{user.first_name}}
              {{user.last_name}} </strong>
            </span>
            <span class="user-role">Roll No :&nbsp;<small>{{user.username}}</small></span>
            
          </div>

          
          <button type="button" class="change_profile btn btn-primary  btn-sm btn-block" data-toggle = "modal" data-target= "#change_profile_Modal" >Change Picture</button>
        </div>
 
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
            <li>
              {% url 'student_apply_leave' as student_apply_leave %}
              <a href="student_apply_leave">
                <i class="fa fa-folder"></i>

            <span>Apply For Leave</span>
            </a>
          </li>
          <li>
            {% url 'student_payment_history' as student_payment_history %}
            <a href="student_payment_history">
              <i class="fa fa-folder"></i>

          <span>Payments History</span>
          </a>
        </li>
          <li>
         {% url 'student_setting' as student_setting %}
            <a href="{{student_setting}}">
              <i class="fa fa-folder"></i>
              <span>Settings</span>
            </a>
          </li>
          <li>
           {% url 'logout' as logout %}
            <a href="{{ logout }}">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="#">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        
        <div class="row">
          <div class="form-group col-md-12">
              
          </div>
         


          </div>
        </div>
        
  
        <footer class="text-center">
            {% include 'alluser_template/footer.html' %}
        </footer>
      </div>
    </main>
    <!-- page-content" -->
  </div>

{% endblock body %}